/*------------------- Reset -------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/*------------------- Layout -------------------*/
body {
    display: flex;
    height: 100vh;
    padding: 5%;
}

/*------------------- Left side -------------------*/
.login-left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 5%;
}

#logo-image{
    width: 70%;
}

/*------------------- Right side -------------------*/
.login-right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------- Form -------------------*/
.login-form {
    width: 30vw;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px #0000001a;
}

.form-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-item label {
    margin-bottom: 6px;
    font-weight: 500;
    
}

.form-item input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.2s;
}

.form-item input:focus {
    border-color: #52b788;
    outline: none;
}

/*------------------- Button -------------------*/
button {
    width: 100%;
    padding: 12px;
    background-color: #52b788;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #40916c;
}

/*------------------- Toggle text -------------------*/
.login-or-register {
    text-align: center;
    margin-bottom: 15px;
    color: #555;
    cursor: pointer;
}

.login-or-register:hover {
    text-decoration: underline;
}

@media screen and (max-width:650px){
    body{
        flex-direction: column;
        padding: 0;
        gap:5%;
    }

    .login-left-side{
        height: 30vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .login-form{
        margin: 0;
        width: 60vw;
    }
}

.divider {
    text-align: center;
    margin: 15px 0;
    color: #777;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.google-btn:hover {
    background-color: #f5f5f5;
}